services:

    nginx:
      container_name: nginx
      build: ./nginx
      ports:
        - "8443:443"        # Point d'entrée HTTPS public
      depends_on:
        - gateway
        - front
      volumes:
        - ./server.crt:/etc/nginx/ssl/certificate.crt
        - ./server.key:/etc/nginx/ssl/private_key.key
      networks:
        - transcendence

    gateway:
      container_name: gateway
      build: ./back/gateway
      expose:
        - "8080"            # Port interne uniquement, accessible depuis nginx  
      depends_on:
        - auth
        - user
        - game
        - chat
      env_file: 
        - .env
      volumes:
        - ./server.crt:/etc/nginx/ssl/certificate.crt
        - ./server.key:/etc/nginx/ssl/private_key.key
      networks: 
        - transcendence 

    front:
      container_name: front
      build: ./front
      expose:
        - "80"
      depends_on:
        - gateway
      networks: 
        - transcendence

    auth:
      container_name: auth
      build: ./back/auth
      expose:
        - "3001"
      env_file: 
        - .env
      environment:
        - DATABASE_URL=/app/data/auth.sqlite
      networks: 
        - transcendence
      volumes:
        - auth_data:/app/data
        - ./server.crt:/app/server.crt # On injecte le MÊME certificat
        - ./server.key:/app/server.key

    chat:
      container_name: chat
      build: ./back/chat
      expose:
        - "3002"
      env_file: 
        - .env
      environment:
        - DATABASE_URL=/app/data/chat.sqlite
      networks: 
        - transcendence
      volumes:
        - chat_data:/app/data
        - ./server.crt:/app/server.crt # On injecte le MÊME certificat
        - ./server.key:/app/server.key

    game:
      container_name: game
      build: ./back/game
      expose:
        - "3003"
      env_file: 
        - .env
      environment:
        - DATABASE_URL=/app/data/game.sqlite
      networks:
        - transcendence
      volumes:
        - game_data:/app/data
        - ./server.crt:/app/server.crt # On injecte le MÊME certificat
        - ./server.key:/app/server.key

    user:
      container_name: user
      build: ./back/user
      expose:
        - "3004"
      env_file: 
        - .env
      environment:
        - DATABASE_URL=/app/data/user.sqlite
      networks: 
        - transcendence
      volumes:
        - user_data:/app/data
        - user_avatars:/app/user/avatars
        - ./server.crt:/app/server.crt # On injecte le MÊME certificat
        - ./server.key:/app/server.key
    
networks:
  transcendence:
    name: transcendence
    driver: bridge

volumes:
  user_avatars:
  auth_data:
  chat_data:
  user_data:
  game_data: