@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wizz-shake {
    0%   { transform: translate(0,0) rotate(0); }

    6%   { transform: translate(-18px, -4px) rotate(-2deg); }
    12%  { transform: translate(18px, 4px) rotate(2deg); }

    18%  { transform: translate(-20px, 3px) rotate(-1.5deg); }
    24%  { transform: translate(20px,-3px) rotate(1.5deg); }

    32%  { transform: translate(-14px,-5px) rotate(-2deg); }
    40%  { transform: translate(14px, 5px) rotate(2deg); }

    50%  { transform: translate(-10px, 2px) rotate(-1deg); }
    60%  { transform: translate(10px,-2px) rotate(1deg); }

    72%  { transform: translate(-6px,-2px) rotate(-1deg); }
    84%  { transform: translate(6px, 2px) rotate(1deg); }

    92%  { transform: translate(-2px,0) rotate(0); }

    100% { transform: translate(0,0) rotate(0); }
}


.wizz-shake {
    animation-name: wizz-shake;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(.25,.46,.45,.94);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
